.editor{
   border-style: dotted;
    flex: 1;
    padding:  20px;
}

.options{

 
   height: 90vh;
   background-color: #f2e8cf;
   border-radius: 25px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navigation{
   display:flex;
   justify-content: space-between;
}

.templateOptions{
   display:flex;
   margin-left:20px;
   height: 80vh;
   flex-wrap:wrap;
  
}

.option{
   height: 49%;
   width: 45%;
   margin:10px;
   margin-top:20px;

}

.choose-template{
   font-family: "Times New Roman, Times, serif";
   font-size: 25px;
   margin-top: -2px;
}